<app-header></app-header>
<div class="container d-flex justify-content-between mt-5 mb-5">
    <div class="card mt-5" style="width: 18rem;">
        <img class="card-img-top" alt="...">
        <div class="card-body">
           
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos architecto eaque pariatur
                culpa beatae distinctio, totam minus officia explicabo vero voluptatem modi corporis, sapiente ducimus
                adipisci excepturi vitae quia repellendus.</p>
            <p>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </p>
            <a href="https://www.facebook.com/messenger/" class="btn btn-primary"><i class="fa-brands fa-facebook-messenger"></i></a>
        </div>
    </div>
    <div class="card mt-5" style="width: 18rem;">
        <img class="card-img-top" alt="...">
        <div class="card-body">
            
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos architecto eaque pariatur
                culpa beatae distinctio, totam minus officia explicabo vero voluptatem modi corporis, sapiente ducimus
                adipisci excepturi vitae quia repellendus.</p>
            <p>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </p>
            <a href="https://www.facebook.com/messenger/" class="btn btn-primary"><i class="fa-brands fa-facebook-messenger"></i></a>
        </div>
    </div>
    <div class="card mt-5" style="width: 18rem;">
        <img class="card-img-top" alt="...">
        <div class="card-body">
           
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos architecto eaque pariatur
                culpa beatae distinctio, totam minus officia explicabo vero voluptatem modi corporis, sapiente ducimus
                adipisci excepturi vitae quia repellendus.</p>
            <p>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </p>
            <a href="https://www.facebook.com/messenger/" class="btn btn-primary"><i class="fa-brands fa-facebook-messenger"></i></a>
        </div>
    </div>
</div>
<div routerLink="/" class=" home text-center"><i class="fa-solid fa-house"></i></div>